{% load pwa %}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Camp Care Camper</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	{% block scripts %}
	{% endblock scripts %}
    </head>
    <body>
        <nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
            <a class="navbar-brand" href="#">Arrowhead Bible Camp</a>
            <div class='navbar-collapse collapse'>
                <div class='navbar-nav'>
                    <a class='nav-item nav-link' href='/'>Camper List</a>
                    <a class='nav-item nav-link' href="{% url 'manage-campers' %}">Manage Campers</a>
                    <a class='nav-item nav-link' href="{% url 'manage-prn' %}">Manage PRNs</a>
		    <a class='nav-item nav-link' href="{% url 'manage-reports' %}">Mangage Report Types</a>
                </div>
                <div class='navbar-nav ml-auto'>
		    <a class='nav-item nav-link' href={% url 'updates'%}>Updates</a>
                    {% if user.is_authenticated %}
                    <a class='nav-item nav-link' href={% url 'logout'%}>Logout</a>
                    {% else %}
                    <a class='nav-item nav-link' href={% url 'login'%}>Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class='container'>
            <div class='row justify-content-center'>
                <div class='col-8'>
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
