{% extends 'camper/base.html' %}
{% load thumbnail %}
{% load mathfilters %}
{% block content %}
<div class='card card-body'>
    <h5>Filter Campers</h5>
    <div class='row'>
        <div class='col-sm'>
            <label><input type='checkbox' name='Active' id='active' checked><span class='ml-2'>Active</span></label>
            <div class="btn-group">
                <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                    Time
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">00:00</a></li>
                    <li><a href="#">01:00</a></li>
                    <li><a href="#">02:00</a></li>
                    <li><a href="#">03:00</a></li>
                    <li><a href="#">04:00</a></li>
                    <li><a href="#">05:00</a></li>
                    <li><a href="#">06:00</a></li>
                    <li><a href="#">07:00</a></li>
                    <li><a href="#">08:00</a></li>
                    <li><a href="#">09:00</a></li>
                    <li><a href="#">10:00</a></li>
                    <li><a href="#">11:00</a></li>
                    <li><a href="#">12:00</a></li>
                    <li><a href="#">13:00</a></li>
                    <li><a href="#">14:00</a></li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">16:00</a></li>
                    <li><a href="#">17:00</a></li>
                    <li><a href="#">18:00</a></li>
                    <li><a href="#">19:00</a></li>
                    <li><a href="#">20:00</a></li>
                    <li><a href="#">21:00</a></li>
                    <li><a href="#">22:00</a></li>
                    <li><a href="#">23:00</a></li>
                </ul>
            </div>
        </div>
        <div class='col-sm'>
            <input type='text' id='search-box' placeholder='Enter in name or Breeze ID'>
        </div>
        <div class='col-sm'>
            <button class='btn btn-success' id='filter-button'>Filter</button>
        </div>
        <div class='col-sm'>
            <a class='float-right' href='/add'><button class='btn btn-info'>Add new Camper</button></a>
        </div>
    </div>
</div>
{% if num_params > 0 %}
<div class='row justify-content-center'>
    <div class='col-sm'>
        <div class='alert-info justify-content-center'>
            <p class='ml-4'>Results have been filtered. <a href='/'>Click to Reset</a></p>
        </div>
    </div>
</div>
{% endif %}
{% for camper in object_list %}
<div class='card card-body mt-1'>
    <div class='row mt-4'>
        <div class='col-3'>
            {% if camper.camper_photo %}
            <img src={% thumbnail camper.camper_photo 150x150 %}>
            {% else %}
            <img src="https://via.placeholder.com/150">
            {% endif %}
        </div>
        <div class='col-9'>
            <div class='row'>
                <div class='col-sm'>
                    Name: {{ camper.camper_name }}
                </div>
                <div class='col-sm'>
                    <a href='{{ camper.pk }}'>View Camper Details</a>
                </div>

            </div>
            {% if camper.active == True %}
            {% if camper.get_earliest_time_hours > 2 and camper.get_earliest_time_hours < 100000 %}
            <div class='alert alert-light'>
                Due In: {{ camper.get_earliest_time_hours }} hours.
            </div>
            {% elif camper.get_earliest_time_hours == 2 %}
            <div class='alert alert-warning'>
                Due In: {{ camper.get_earliest_time_hours }} hours.
            </div>
            {% elif camper.get_earliest_time_hours == 1 %}
            <div class='alert alert-warning'>
                Due In: {{ camper.get_earliest_time_hours }} hour.
            </div>
            {% elif camper.get_earliest_time_hours == -1 or camper.get_earliest_time_hours == 0 %}
            <div class='alert alert-success'>
                Due Now.
            </div>
            {% elif camper.get_earliest_time_hours <= -2 %}
            <div class='alert alert-danger'>
                Past Due By {{ camper.get_earliest_time_hours|abs }} hours.
            </div>
            {% else %}
            No medications for this camper.
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% empty %}
No Campers
{% endfor %}
<script>
    var selText = '';
$(".dropdown-menu li a").click(function(){
    selText = $(this).text();
    $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

$("#filter-button").click(function() {
    var hs = '';
    var sb = '';
    var at = '';

    if(selText != '') {
        hs = 'hour=' + selText.slice(0, 2) + '&';
    }

    if(document.getElementById('search-box').value != '') {
        sb = 'search_term=' + document.getElementById('search-box').value + '&'
    }

    if(document.getElementById('active').checked) {
        at = 'active=yes'
    } else {
        at = 'active=no'
    }

    window.location.replace("?" + hs + sb + at);
});
</script>
{% endblock content %}
