{% extends 'camper/base.html' %}
{% load thumbnail %}
{% block content %}
<div class='row'>
    <h3>Manage Camper Status</h3>
</div>
<div class='card card-body mt-1 mb-4'>
    <div class='row'>
        <button type='button' class='uncheck_all btn'>Uncheck All</button>
    </div>
</div>
<div class='card card-body'>
    <h5>Filter Campers</h5>
    <div class='row'>
        <div class='col-sm'>
            <label><input type='checkbox' name='Active' id='active' checked><span class='ml-2'>Active</span></label>
            <div class="btn-group">
                <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                    Time
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">00:00</a></li>
                    <li><a href="#">01:00</a></li>
                    <li><a href="#">02:00</a></li>
                    <li><a href="#">03:00</a></li>
                    <li><a href="#">04:00</a></li>
                    <li><a href="#">05:00</a></li>
                    <li><a href="#">06:00</a></li>
                    <li><a href="#">07:00</a></li>
                    <li><a href="#">08:00</a></li>
                    <li><a href="#">09:00</a></li>
                    <li><a href="#">10:00</a></li>
                    <li><a href="#">11:00</a></li>
                    <li><a href="#">12:00</a></li>
                    <li><a href="#">13:00</a></li>
                    <li><a href="#">14:00</a></li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">16:00</a></li>
                    <li><a href="#">17:00</a></li>
                    <li><a href="#">18:00</a></li>
                    <li><a href="#">19:00</a></li>
                    <li><a href="#">20:00</a></li>
                    <li><a href="#">21:00</a></li>
                    <li><a href="#">22:00</a></li>
                    <li><a href="#">23:00</a></li>
                </ul>
            </div>
        </div>
        <div class='col-sm'>
            <input type='text' id='search-box' placeholder='Enter in name or Breeze ID'>
        </div>
        <div class='col-sm'>
            <button class='btn btn-success' id='filter-button'>Filter</button>
        </div>
    </div>
</div>
{% if num_params > 0 %}
<div class='row justify-content-center'>
    <div class='col-sm'>
        <div class='alert-info justify-content-center'>
		<p class='ml-4'>Results have been filtered. <a href={% url 'manage-campers' %}>Click to Reset</a></p>
        </div>
    </div>
</div>
{% endif %}
{% for camper in object_list %}
<div class='card card-body mt-1'>
    <div class='row mt-4'>
        <div class='col-3'>
            {% if camper.camper_photo %}
            <img src="{% thumbnail camper.camper_photo 64x64 %}">
            {% else %}
            <img src="https://via.placeholder.com/64">
            {% endif %}
        </div>
        <div class='col-3'>
            {{ camper.camper_name }}
        </div>
        <div class='col-3'>
            Active: <input type='checkbox' class='active_check' data-changestatus="{% url 'change-status' %}" id='{{ camper.id }}' {% if camper.active %}checked{% endif %}>
        </div>
    </div>
</div>
{% endfor %}
    <script>
var selText = '';

        $('.active_check').click(function() {
            $.ajax({
                url: $(this).attr('data-changestatus'),
                data: {'camperid':$(this).attr('id'), 'checked':$(this).prop('checked')},
                dataType: 'json',
                success: function(data) {
                    //location.reload(true);
                }
            });
        });
        $('.uncheck_all').click(function() {
            var cbs = document.getElementsByClassName('active_check');
            for(var i = 0; i < cbs.length; i++) {
                cbs.item(i).checked = false;
            }
        });
$(".dropdown-menu li a").click(function(){
    selText = $(this).text();
    $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

$("#filter-button").click(function() {
    var hs = '';
    var sb = '';
    var at = '';

    if(selText != '') {
        hs = 'hour=' + selText.slice(0, 2) + '&';
    }

    if(document.getElementById('search-box').value != '') {
        sb = 'search_term=' + document.getElementById('search-box').value + '&'
    }

    if(document.getElementById('active').checked) {
        at = 'active=yes'
    } else {
        at = 'active=no'
    }

    window.location.replace("?" + hs + sb + at);
});
    </script>
{% endblock %}
