{% extends 'camper/base.html' %}
{% load thumbnail %}
{% load tz %}
{% load mathfilters %}
{% block content %}
<div class='row mb-4'>
    <div class='col-sm'>
        <a href='/'><button class='btn btn-success'> ◀ Back to Camper List</button></a>
    </div>
</div>
<div class='row'>
    {% if object.camper_photo %}
    <img src={% thumbnail object.camper_photo 150x150 %}>
    {% else %}
    <img src="https://via.placeholder.com/150">
    {% endif %}
    <h1> Camper: {{ object.camper_name }}</h1>
</div>
<div class='row'>
    Breeze ID: {{ object.breeze_id }}
</div>
{% if camper.notes %}
<div class='row'>
    Notes: <div class='alert-success'>{{ object.notes|linebreaks }}</div>
</div>
{% endif %}

<div class='row'>
    <h3 class='mt-3'>Current Medications</h3>
</div>
<div class='row'>
    <a href="{% url 'add-medication' camper.id %}" class='btn btn-success mb-4'>Add New Medication</a>
    <a href="{% url 'give-prn' camper.id %}" class='btn btn-info ml-2 mb-4'>Give PRN</a>
    <a href="{% url 'give-report' camper.id %}" class='btn btn-info ml-2 mb-4'>Add Report</a>
    <button id='massdose' class='btn btn-info ml-2 mb-4'>Give Dose for Checked Medications</button>
</div>
{% for medication in meds %}
<div class='card card-body'>
    <div class='row'>
        <div class='col-sm'>
            <input type='checkbox' class='mass-dose' id='md-{{ medication.id }}'>
            <strong>Name: {{ medication.medication_name }}</strong>
        </div>
        <div class='col-sm float-right'>
            <a href='{% url 'give-dose' camper.id medication.id %}'><button class='btn btn-success'>Give Dose</button></a>
            <a href='{% url 'update-medication' camper.id medication.id %}'><button class='btn btn-info'>Edit</button></a>
            <a href='{% url 'delete-medication' camper.id medication.id %}'><button class='btn btn-danger'>Delete</button></a>
        </div>
    </div>
    {% if medication.dosage %}
    <div class='row ml-1'>
        Dosage: {{ medication.dosage }}
    </div>
    {% endif %}
    {% if medication.number_of_pills > 0 %}
    <div class='row ml-1'>
        Number of Pills: {{ medication.number_of_pills }}
    </div>
    {% endif %}
    {% if medication.notes %}
    <div class='row ml-1'>
        Notes: <div class='alert-warning'> {{ medication.notes|linebreaks }}</div>
    </div>
    {% endif %}
    <div class='row ml-1'>
        Dose Times: {{ medication.get_hours }} -  {{ medication.get_days }}
    </div>
    {% if object.active %}
    <div class='row ml-1'>
        {% if medication.get_next_dose_hour > 2 %}
            <div class='alert alert-light'>
        	Due In: {{ medication.get_next_dose_hour }} hours.
	    </div>
        {% elif medication.get_next_dose_hour == 2 %}
            <div class='alert alert-warning'>
        	Due In: {{ medication.get_next_dose_hour }} hours.
	    </div>
        {% elif medication.get_next_dose_hour == 1 %}
            <div class='alert alert-warning'>
                Due In: {{ medication.get_next_dose_hour }} hour.
            </div>
        {% elif medication.get_next_dose_hour == -1 or medication.get_next_dose_hour == 0 %}
            <div class='alert alert-success'>
		    Due Now. 
	    </div>
        {% else %}
            <div class='alert alert-danger'>
        	Past Due By {{ medication.get_next_dose_hour|abs }} hours.
	    </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% empty %}
<div class='row'>
    No medications for this camper
</div>
{% endfor %}

<div class='row'>
    <div class='col-sm mt-4'>
        <a href='{% url 'camper-logs' camper.id %}'><button class='btn btn-warning btn-block'>View Camper Logs</button></a>
    </div>
</div>
<div class='row'>
    <div class='col-sm mt-4'>
         <a href='{% url 'camper-edit' camper.id %}'><button class='btn btn-info btn-block'>Update Camper</button></a>
    </div>
</div>
<div class='row'>
    <div class='col-sm mt-4'>
         <a href='{% url 'delete-camper' camper.id  %}'><button class='btn btn-danger btn-block'>✖ Delete Camper</button></a>
    </div>
</div>

<script>
massdose.onclick = function() {
    checkboxes = document.getElementsByClassName('mass-dose');
    checked_ids = []

  for (var i=0; i<checkboxes.length; i++) {
     // And stick the checked ones onto an array...
     if (checkboxes[i].checked) {
        checked_ids.push('mid=' + checkboxes[i].id.slice(3));
     }
  }
	console.log(checked_ids.join('&'));
window.location.replace("{% url 'mass-dose' camper.id %}" + '?' + checked_ids.join('&'))
};
</script>
{% endblock content %}
