{% extends 'camper/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' class='btn btn-success'>Add Camper</button>
</form>
{% endblock %}
