{% extends 'camper/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Giving dose of {{ m_name }} to Camper {{ c_name }}</h3>
{% if dosage %}
<h4> Dosage: {{ dosage }}</h4>
{% endif %}
{% if pill_count > 0 %}
<h5>Pill count: {{ pill_count }}</h5>
{% endif %}
<form method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="checkbox" id="unscheduled-admin" name="unscheduled-admin">
    <label for="unscheduled-admin">This is an unscheduled administration.</label>
    <button type='submit' class='btn btn-success'>Give Dose</button>
</form>
{% endblock %}
