{% extends 'camper/base.html' %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock scripts %}
{% block content %}
<div class='d-print-none'>
<div class='row'>
	<button class='btn btn-primary btn-block' onclick='window.print()'>Print</button>
</div>
<div class='row justify-content-center mt-2'>
<h4>Select Date Range:</h4>
	<input class='ml-4' type="text" name="daterange">
    <button class='btn btn-success' id='resetTime'>Reset</button>

	<script>
        document.getElementById('resetTime').addEventListener('click', function() {
            window.location.replace(window.location.href.split('?')[0]);
        });
		$(function() {
			$('input[name="daterange"]').daterangepicker({
				opens: 'left'
			}, function(start, end, label) {
				console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                window.location.replace("?start=" + start + "&end=" + end);
			});
		});
	</script>
</div>
</div>
<div class='row'>
	<h2 class='mt-4 mb-2'>Dosage Logs for {{ camper_name }}</h2>
</div>
<table class='table table-striped'>
	<thead>
		<tr>
			<th scope='col'>Medication</th>
			<th scope='col'>Time</th>
			<th scope='col'>Dose Given</th>
			<th scope='col'>Notes</th>
			<th scope='col'>Initials</th>
            <th scope='col'>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for dose in object_list %}
		<tr>
			<td>{{ dose.medication_name }}</td>
			<td>{{ dose.time_given }}</td>
			<td>{{ dose.dose_given }}</td>
			<td>{{ dose.notes }}</td>
			<td>{{ dose.initials }}</td>
            <td><a href='{% url 'delete-dose' camper_pk=camper_id pk=dose.id %}'>Delete</a></td>
		</tr>
		{% empty %}
		<h5>No Medications have been given.</h5>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
