{% extends 'camper/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
    <h3>Giving doses to Camper {{ c_name }}</h3>
</div>
<div class='row'>
    <div class='col-3'>
        <ul>
        	{% for med in m_names %}
        	<li>{{ med.name }}</li>
        	<ul>
        		{% if med.dosage != '' %}<li>Dosage: {{ med.dosage }}</li>{% endif %}
        	</ul>
        	{% endfor %}
        </ul>
    </div>
    <div class='col-5'>
        <div class='row juistify-content-center'>
        Pill count for this administration:
        </div>
        <div class='row justify-content-center'>
            <h1>{{ pill_count }}</h1>
        </div>
    </div>
</div>
<form method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' class='btn btn-success'>Give Doses</button>
</form>
{% endblock %}
