{% extends 'camper/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<style>
.btn.btn-primary.btn-sm {
	background-color: #0062cc;
}

.btn.btn-primary.btn-sm.active {
	background-color: #808080;
}
</style>
<form method='post'>
    {% csrf_token %}
    <h3>Camper Name: <strong>{{ camper }}</strong></h3>
    <div class='row'>
        {{ form.medication_name|as_crispy_field }}
    </div>
    <div class='row'>
        {{ form.dosage|as_crispy_field }}
    </div>
    <div class='row'>
        <label class='mr-2'><input type='checkbox' checked name='Monday'>Monday</label>
        <label class='mr-2'><input type='checkbox' checked name='Tuesday'>Tuesday</label>
        <label class='mr-2'><input type='checkbox' checked name='Wednesday'>Wednesday</label>
        <label class='mr-2'><input type='checkbox' checked name='Thursday'>Thursday</label>
        <label class='mr-2'><input type='checkbox' checked name='Friday'>Friday</label>
        <label class='mr-2'><input type='checkbox' checked name='Saturday'>Saturday</label>
        <label class='mr-2'><input type='checkbox' checked name='Sunday'>Sunday</label>
    </div>
    <div class='row'>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='00:00'>00:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='01:00'>01:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='02:00'>02:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='03:00'>03:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='04:00'>04:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='05:00'>05:00
            </label>
        </div>
    </div>
    <div class='row mt-1'>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='06:00'>06:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='07:00'>07:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='08:00'>08:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='09:00'>09:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='10:00'>10:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='11:00'>11:00
            </label>
        </div>
    </div>
    <div class='row mt-1'>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='12:00'>12:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='13:00'>13:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='14:00'>14:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='15:00'>15:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='16:00'>16:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='17:00'>17:00
            </label>
        </div>
    </div>
    <div class='row mt-1'>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='18:00'>18:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='19:00'>19:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='20:00'>20:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='21:00'>21:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='22:00'>22:00
            </label>
            <label class="btn btn-primary btn-sm active">
                <input type="checkbox" checked autocomplete="off" name='23:00'>23:00
            </label>
        </div>
    </div>
    <div class='row mt-1'>
        {{ form.number_of_pills|as_crispy_field }}
    </div>
    <div class='row'>
        {{ form.notes|as_crispy_field }}
    </div>
    <button type='submit' class='btn btn-success'>Add Medication</button>
</form>
	<script>
		var elm = document.getElementById('id_number_of_pills');
		elm.setAttribute('step', 0.5);
		elm.setAttribute('min', 0);
	</script>
{% endblock content %}
