{% extends 'camper/base.html' %}
{% block content %}
<form method='post'>
    {% csrf_token %}
    <p>Are you sure you want to delete medication {{ object.medication_name }} for Camper {{ object.camper.camper_name }}?</p>
    <div class='row'>
        <button class='btn btn-danger btn-block' type='submit'>Yes</button>
    </div>
    <div class='row'>
        <a href='{{ view.get_success_url }}' class='btn btn-success btn-block mt-4'>No</a>
    </div>
</form>
{% endblock content %}
