{% extends 'camper/base.html' %}

{% block content %}
<div class='row mt-4 mb-4'>
    <div class='col-sm'>
        <input type='text' id='prn-name'>
    </div>
    <div class='col-sm'>
        <button class='btn btn-success' id='newprn' data-addprn="{% url 'create-prn' %}">Add New PRN</button>
    </div>
</div>
<table class='table table-sm'>
    <thead>
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'></th>
        </tr>
    </thead>
    <tbody>
{% for prn in object_list %}
<tr>
    <td>{{ prn.prn_name }}</td>
    <td><button class='btn btn-danger prn_delete' data-prnid='{{ prn.id }}' data-deleteurl="{% url 'delete-prn' %}">Remove PRN</button></td>
</tr>
</div>
{% empty %}
<h3>No PRNs have been added.</h3>
{% endfor %}

<script>
    $('#newprn').click(function() {
        $.ajax({
            url: $(this).attr('data-addprn'),
            data: {'prn-name': $('#prn-name').val()},
            dataType: 'json',
            success: function(data) {
                location.reload(true);
            }
        });
    });

$('.prn_delete').click(function() {
    $.ajax({
        url: $(this).attr('data-deleteurl'),
        data: {'prnid': $(this).attr('data-prnid')},
        dataType: 'json',
        success: function(data) {
            location.reload(true);
        }
    });
});
</script>

    {% endblock %}


