{% extends 'camper/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Create PRN</h3>
<form method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' class'btn btn-success'>Add PRN</button>
</form>
{% endblock %}
