{% extends 'camper/base.html' %}

{% block content %}
<div class='row mt-4 mb-4'>
    <div class='col-sm'>
        <input type='text' id='report-name'>
    </div>
    <div class='col-sm'>
        <button class='btn btn-success' id='newreport' data-addreport="{% url 'create-report' %}">Add New Report Type</button>
    </div>
</div>
<table class='table table-sm'>
    <thead>
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'></th>
        </tr>
    </thead>
    <tbody>
{% for report in object_list %}
<tr>
    <td>{{ report.report_name }}</td>
    <td><button class='btn btn-danger report_delete' data-reportid='{{ report.id }}' data-deleteurl="{% url 'delete-report' %}">Remove Report Type</button></td>
</tr>
</div>
{% empty %}
<h3>No Reports have been added.</h3>
{% endfor %}

<script>
    $('#newreport').click(function() {
        $.ajax({
            url: $(this).attr('data-addreport'),
            data: {'report-name': $('#report-name').val()},
            dataType: 'json',
            success: function(data) {
                location.reload(true);
            }
        });
    });

$('.report_delete').click(function() {
    $.ajax({
        url: $(this).attr('data-deleteurl'),
        data: {'reportid': $(this).attr('data-reportid')},
        dataType: 'json',
        success: function(data) {
            location.reload(true);
        }
    });
});
</script>

    {% endblock %}


