{% extends 'camper/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' class='btn btn-primary'>Give Report</button>
</form>
{% endblock %}
