{% extends 'camper/base.html' %}
{% block content %}
<h2>Updates</h2>
<h3>0.9</h3>
<ul>
	<li>Can search in manage camper page.</li>
	<li>Can give multiple doses at once.</li>
</ul>

<h3>0.8</h3>
<ul>
	<li>Logins are required.</li>
	<li>Given medications no longer clear out entire day.</li>
	<li>Basic offline capabilties.</li>
</ul>

<h3>0.7</h3>
<ul>
	<li>Times are fixed.</li>
</ul>

<h3>0.6</h3>
<ul>
	<li>Days are displayed</li>
	<li>Uncheck all button added</li>
</ul>

<h3>0.5</h3>
<ul>
	<li>Extremely overdue medications are now caughtup with a single dose.</li>
	<li>Scheudled times now show on camper detail page.</li>
	<li>Updating time no long moves next due time to next week.</li>
	<li>Updating time now correctly saves days of week</li>
	<li>Due time displays correctly</li>
	<li>Due times now correctly unoffset</li>
	<li>Campers now sorted by last name</li>
	<li>(Hidden) last name field added to campers.</li>
	<li>Campers also sorted by due time.</li>
	<li>Dose log shows dose given.</li>
	<li>Camper Detail Page now sorted meds by due date.</li>
</ul>


<h3>0.4</h3>
<ul>
	<li>PRNs can be given</li>
	<li>PRNs show up in printable logs</li>
	<li>Campers active status can be changed from a single page.</li>
</ul>

<h3>0.3</h3>
<ul>
	<li>Main toolbar added</li>
	<li>Manage PRN page added</li>
	<li>Add PRNs</li>
	<li>Delete PRNs</li>
	<li>Link to Manage Campers Added</li>
	<li>Logout Button added</li>
	<li>Camp name at top.</li>
</ul>

<h3>0.2</h3>
<ul>
	<li>Camper Logs now Viewable.</li>
	<li>Camper Logs can be printed.</li>
	<li>Main List now only shows nearest hours due.</li>
	<li>Give dose now on camper detail page.</li>
	<li>Medications can be edited.</li>
	<li>Initial field added to administer page.</li>
	<li>Photos can now be seen.</li>
	<li>Empty notes don't appear on camper detail page.</li>
	<li>Fixed issues with timezone, timechanges, and timewonkyness.</li>
	<li>Giving a dose clears dose, and sets up the next time correctly.</li>
	<li>Can Reset Filters.</li>
	<li>Can Filter by Active Status.</li>
	<li>Support for medications on select days of the week.</li>
</ul>


<h3>0.1</h3>
<ul>
	<li>Fixed URL redirecting incorrectly after creating a new camper</li>
	<li>Empty Camper notes no longer appear.</li>
	<li>Better deletion of medications.</li>
	<li>Can now delete campers.</li>
	<li>Better dose url. Dose given mentions name and medication.</li>
	<li>Can edit Campers</li>
</ul>
{% endblock content %}
